.image{
    display: flex;
    flex-direction: column;
}

.shadowPlatform{
    width: 700px;
    position: relative;
    top: 450px;
    right: 150px;
}

.illustrationBox{
    position: relative;
    width: 300px;
    right: 36%;
    bottom: 550px;
}

.girl{
    position: relative;
    width: 700px;
    right: 25%;
    bottom: 200px;
}

